*.exe
.DS_Store

*.log
*.bak
*.backup
*~
.*.swp

bin/
modules-dev/
pkg/
vendor/

.idea
.vscode

.env
./*.tfstate
.terraform
terraform.tfplan
terraform.tfstate
terraform.tfvars
.terraform.tfstate.lock.info