# SANDBOX MODE
is_sandbox_mode_enabled=true

# COMPARTMENT
parent_compartment_name="baseline_lz_sandbox"
workload_compartment_names=["Workload"]
tag_cost_center="example_tag_cost_center"
tag_geo_location="example_tag_geo_location"

# VCN
is_public_subnet_enabled=false
is_shared_services_subnet_enabled=false
public_subnet_dns_label="public"
private_subnet_dns_labels=["private0"]
database_subnet_dns_labels=["database0"]
shared_service_subnet_dns_label="shared"
vcn_dns_label="vcn"
vcn_cidr_block="10.0.0.0/16"
public_subnet_cidr_block="10.0.1.0/24"
private_subnet_cidr_blocks=["10.0.2.0/24"]
database_subnet_cidr_blocks=["10.0.3.0/24"]
shared_service_subnet_cidr_block="10.0.4.0/24"

# VCN GATEWAYS
ingress_rules_map={
  "default"=[{
    ingress_security_rules_tcp_options_destination_port_range_max = 443
    ingress_security_rules_tcp_options_destination_port_range_min = 443
    ingress_security_rules_tcp_options_source_port_range_max      = 443
    ingress_security_rules_tcp_options_source_port_range_min      = 443
  }]
}
egress_rules_map={
  "default"=[{
    egress_security_rules_tcp_options_destination_port_range_max = 65535
    egress_security_rules_tcp_options_destination_port_range_min = 1
    egress_security_rules_tcp_options_source_port_range_max      = 65535
    egress_security_rules_tcp_options_source_port_range_min      = 1
  }
  "Workload"=[{
    egress_security_rules_tcp_options_destination_port_range_max = 65535
    egress_security_rules_tcp_options_destination_port_range_min = 1
    egress_security_rules_tcp_options_source_port_range_max      = 65535
    egress_security_rules_tcp_options_source_port_range_min      = 1
  }]
}

# BASTION
bastion_subnet_cidr_block="10.0.7.0/24"
bastion_client_cidr_block_allow_list=[]